body {
    background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}


/* Estilos de la grilla */
.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}


/* Estilos para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos adicionales para mejorar la apariencia del formulario */
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

/* Estilos para los mensajes de error */
.error-message {
    color: #FF0000;
    margin-bottom: 10px;
}


.cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.cart-button:hover {
    background-color: #45a049;
}

.cart-button i {
    margin-right: 5px;
}



.edit-button,
.delete-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #45a049;
    /* Verde más oscuro */
}

.edit-button i,
.delete-button i {
    margin-right: 5px;
    margin-left: 5px;
}

.delete-button {
    background-color: #f44336;
    padding: 9px 10px;
}

.delete-button:hover {
    background-color: #d32f2f;
    /* Rojo más oscuro */
}


h1 {
    color: white;
    text-align: center;
}

.product-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
    width: calc(100% - 170px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}


.precio-iva {
    color: #37ed12; 
    font-weight: bold;

}


/* Estilos del footer */
.footer {
    background-color: #333; 
    color: #fff;
    padding: 20px 0;
    margin: 100px 0px 0px 0px;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer-content p {
    margin: 0; 
    text-align: center;
}

.social-icons a {
    color: #fff; 
    text-decoration: none; 
    margin-left: 10px; 
}

/* Estilos para los iconos sociales */
.social-icons a:hover {
    color: #ccc; 
}
